 
/*exercise 1*/

    .fade-in {
        animation: fade-in 3s 2s ease-in both;
      }
      
 
 
 
 
 @keyframes fade-in {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }


      span{

        color: blue;
      }
      /*   Exercise 2                   */

 
.img-card{
    position: relative;
}

.img-fav{
    height: 20px;
    width: 20px;
    position: absolute;
}




       /*   Exercise 2                   */




        /*   Exercise 2                   */




         /*   Exercise 2                   */




          /*   Exercise 2                   */




           /*   Exercise 2                   */




            /*   Exercise 2                   */

